<table>
  {{#each model as |web-site|}}
    {{!#link-to 'web-sites.index.web-site' web-site}}
      <tr>
        <td>{{web-site.id}}</td>
        <td>{{web-site.name}}</td>
      </tr>
    {{!/link-to}}
  {{/each}}
</table>

{{outlet}}
